@import "~@angular/material/prebuilt-themes/indigo-pink.css";
:root{
  --primary:rgb(65, 44, 65);
}
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background-color: #f9f9f9;
}

h1, h2, h3 {
  margin-bottom: 12px;
}

.container {
  max-width: 100%; /* or increase to match your layout need */
  margin: auto;
  padding: 20px;
}


.bg-primary{
  background-color: var(--primary)!important;
}
.text-white{
  color: white !important;;
}
.flex{
  display: flex;
  align-items: flex-start;
  /* gap:3rem */
}
.form{
  flex: 1 1 45% !important;
  /* align-self: center; */
  padding: 1rem 3rem;
}
.form-img{
 flex: 1 1 50%!important;
}
.form-img img{
  width: 100%;
  height: 100dvh;
  /* ascpect-ratio:1/1
   */
}
